:root{
	--skin-color: crimson;
    /* color: rgb(220, 140, 20);
    color: rgb(207, 220, 20); 
    color: rgb(67, 220, 20);
    color: rgb(20, 220, 160);
    color: rgb(20, 57, 220);
    color: rgb(140, 20, 220);
    color: rgb(220, 20, 193);
    color: rgb(220, 20, 87);
    color: rgb(220, 20, 20); */
}